<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Confimation</title>
  </head>
  <body>
    <h1>Meeting Reminder</h1>
    <%= render "meeting_details", meeting: @meeting %>
    <h3>Please join on time</h3>
  </body>
</html>
