<!DOCTYPE html>
<html>
  <head>
    <title>Meeting rescheduled</title>
  </head>
  <body>
    <h1>Meeting rescheduled</h1>
    <h2>Updated Meeting Info</h2>
    <%= render "meeting_details", meeting: @meeting %>
    <h3>Please join on time</h3>
  </body>
</html>
